<ion-content>
<div class="login-container">
  <div><h1 class="neko">Bienvenidos a NekoRate</h1></div>
  <div class="logo-container">
    <img src="assets/img/4.png" alt="Logo" class="logo-img" />
  </div>

  <form (submit)="login()">
    <div>
      <ion-item>
        <ion-input label="CORREO" type="email" [(ngModel)]="email" name="email" placeholder="email@domain.com"></ion-input>
      </ion-item>
  
      <ion-item class="ion-margin-top">
        <ion-input type="password" label="CONTRASEÑA" [(ngModel)]="password" name="password" value="NeverGonnaGiveYouUp">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
    </div>
    
      <div class="forgot-password" (click)="openForgotPasswordModal()">
        ¿Olvidaste tu contraseña?
      </div>
    <ion-button expand="block" type="submit" class="registrarse">Registrarse</ion-button>

    <ion-button expand="block" type="submit">Iniciar sesión</ion-button>
     
  </form>

  <div class="version-info">
    <span>
      Versión 1.0.0
    </span>
  </div>
</div>
<ion-modal [isOpen]="isForgotPasswordModalOpen" (willDismiss)="closeForgotPasswordModal()" class="forgot-password-modal">
  <ng-template>
    <ion-header class="custom-header">
      <ion-toolbar class="custom-toolbar">
        <ion-title class="custom-title">Recuperar Contraseña</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeForgotPasswordModal()" class="custom-close-btn">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    
    <ion-content class="custom-content">
      <div class="modal-body">
        <p class="modal-text">Ingresa tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>
        
        <ion-item class="custom-input">
          <ion-input 
            label="Correo electrónico" 
            type="email" 
            [(ngModel)]="forgotPasswordEmail" 
            placeholder="ejemplo@correo.com">
          </ion-input>
        </ion-item>
        
        <ion-button 
          expand="block" 
          (click)="sendResetPasswordEmail()" 
          class="custom-button">
          Enviar enlace de restablecimiento
        </ion-button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
<ion-toast
    [isOpen]="isToastOpen"
    message="Credenciales incorrectas"
    [duration]="5000"
    (didDismiss)="isToastOpen = false"
  ></ion-toast>
</ion-content>