<ion-menu contentId="main-content">
  <ion-header>
  <ion-toolbar>
      <ion-title>Menu Content</ion-title>
      
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button ></ion-menu-button>
      </ion-buttons>
      <ion-title class="menu">NekoRate</ion-title>
      <ion-avatar slot="start" class="contenedor">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" class="avatar" />
      </ion-avatar>
      <ion-searchbar slot="end" placeholder="Buscador"></ion-searchbar>
      <ion-label>Nombre Usuario</ion-label>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="carrusel">
      <ion-card>
        <ion-card-header>
          <ion-card-title><h1>Titulo Anime</h1></ion-card-title>
          <ion-card-subtitle>Genero</ion-card-subtitle>

          
        </ion-card-header>

      <ion-card-content>
        Aca ira la reseña del anime
      </ion-card-content>
      </ion-card>
    </div>

    
    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
   <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>
  </ion-content>
  
</div>


